.number{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 15px;
    line-height: 30px;
}

.even{
    background-color: red;
}

.odd{
    background-color: blue;
}

.prime{
    background-color: yellow;
}