html {color-scheme: dark;}

body{
    color: white;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

}

.wrapper{
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
}

/* table{
    background: white;
    caption is not affected by background

    color: black;
    but color affects caption 

    solution is given below 
} */

/* table, caption{
    background: white;
    color: black;
} */

table{
    width: 100%;
    border-collapse: collapse; 
    /* border collapse removes padding */
    background: #323232;
}


caption, th, td{
    padding: 1rem;
    
}

caption, th{
    text-align: left;
}

caption{
    background: hsl(0 0% 0%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

th{
    background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n){
    background: hsl(0 0% 0% / 0.1);
}

@media(max-width: 650px){
    th{
        display: none;
    }

    td{
        display: block;
        padding: 0.5rem 1rem;
    }

    td:first-child{
        padding-top: 2rem;
    }

    td:last-child{
        padding-bottom: 2rem;
    }
    
    
    td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}